---
import { Image } from "astro:assets";
import PlaceholderCover from "../../assets/images/placeholder-cover.png";

interface Props {
  cover?: {
    alt: string;
    // from astro image src prop
    image: {
      src: string;
      width: number;
      height: number;
      format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
    };
  };
  title: string;
  date?: Date;
  excerpt?: string;
  tags?: string[];
  url: string;
}

const { cover, title, date, tags, excerpt, url } = Astro.props;

function timeAgo(date: Date): string {
  const now = new Date();
  const diffDays = Math.floor(
    (now.getTime() - date.getTime()) / (1000 * 60 * 60 * 24),
  );
  if (diffDays === 0) return "today";
  if (diffDays === 1) return "1 day ago";
  if (diffDays < 30) return `${diffDays} days ago`;
  const diffMonths = Math.floor(diffDays / 30);
  if (diffMonths === 1) return "1 month ago";
  if (diffMonths < 12) return `${diffMonths} months ago`;
  const diffYears = Math.floor(diffDays / 365);
  if (diffYears === 1) return "1 year ago";
  return `${diffYears} years ago`;
}
---

<div
  class="not-content h-full w-full max-w-xl bg-base-100 text-base-content flex flex-col gap-3"
>
  <a href={url}>
    <Image
      class="not-content rounded-lg border border-base-300 !h-full max-h-[200px] max-w-full w-full object-cover aspect-video hover:brightness-110 transition-all"
      src={cover?.image || PlaceholderCover}
      alt={cover?.alt || "Placeholder cover"}
    />
  </a>

  <div class="px-1 flex flex-col gap-4 grow">
    <div class="grow flex flex-col gap-3">
      <a href={url}>
        <h5
          class="text-xl font-semibold text-base-content hover:opacity-60 transition-all"
        >
          {title}
        </h5>
      </a>

      {excerpt && <p class="font-normal text-sm line-clamp-3">{excerpt}</p>}
    </div>
    <div class="flex items-center gap-2.5">
      <div class="flex gap-2 flex-wrap">
        {
          tags?.map((tag) => (
            <p class="daisy-badge daisy-badge-ghost text-inherit daisy-badge-sm">
              {tag}
            </p>
          ))
        }
      </div>
      {date && <time class="text-xs">{timeAgo(date)}</time>}
    </div>
  </div>
</div>

<style>
  a {
    text-decoration: none;
  }
</style>
