---
import BlogCard from "./BlogCard.astro";
import ChangelogList from "./ChangelogList.astro";
import FeaturedBlogCard from "./FeaturedBlogCard.astro";
import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const posts = await getCollection("blog");

const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.data.date ?? "1970-01-01").getTime() -
    new Date(a.data.date ?? "1970-01-01").getTime(),
);

// Find the first featured post, or fall back to the latest post
const featuredPost =
  sortedPosts.find((post) => post.data.featured) ?? sortedPosts[0];

const remainingPosts = sortedPosts.filter((post) => post !== featuredPost);
---

<div class="not-content flex flex-col gap-14 mt-6 min-h-[70vh]">
  {
    featuredPost && (
      <div class="flex max-lg:flex-col gap-8 max-lg:gap-4">
        <div class="min-w-0">
          <FeaturedBlogCard
            cover={featuredPost.data.cover}
            title={featuredPost.data.title}
            date={featuredPost.data.date}
            excerpt={featuredPost.data.excerpt}
            tags={featuredPost.data.tags}
            url={"/blog/" + featuredPost.id}
          />
        </div>
        <div class="w-px grow bg-base-content opacity-15" />
        <div class="shrink-0 pt-6.5 max-lg:pt-0">
          <ChangelogList />
        </div>
      </div>
    )
  }

  {
    remainingPosts.length > 0 && (
      <div class="flex flex-col gap-2">
        <h2 class="font-medium">Latest posts</h2>
        <div
          class="grid gap-x-8 gap-y-12
        grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 max-sm:justify-center"
        >
          {remainingPosts.map((post) => (
            <BlogCard
              cover={post.data.cover}
              title={post.data.title}
              date={post.data.date}
              excerpt={post.data.excerpt}
              tags={post.data.tags}
              url={"/blog/" + post.id}
            />
          ))}
        </div>
      </div>
    )
  }
</div>
