---
import BlogCard from "./BlogCard.astro";
import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const posts = await getCollection("blog");
---

<div class="not-content flex flex-col gap-14 mt-6 min-h-[70vh]">
  <div class="flex flex-col gap-2">
    <h2 class="font-medium">Latest posts</h2>
    <div
      class="grid gap-x-6 gap-y-10
    grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 max-sm:justify-center"
    >
      {
        posts
          .sort(
            (a, b) =>
              new Date(b.data.date ?? "1970-01-01").getTime() -
              new Date(a.data.date ?? "1970-01-01").getTime(),
          )
          .map((post) => (
            <BlogCard
              cover={post.data.cover}
              title={post.data.title}
              date={post.data.date}
              excerpt={post.data.excerpt}
              tags={post.data.tags}
              url={"/blog/" + post.id}
            />
          ))
      }
    </div>
  </div>
</div>
